scripts/count-data
scripts/data/homology-mapping.tsv
scripts/data/normalized-data.tsv
scripts/data/pathway-analysis.tsv
scripts/data/results_pathway_analysis.tsv
scripts/data/results*
scripts/results*
scripts/wikipathways*
scripts/data/selected-pathways.tsv
scripts/figures*
scripts/.Rhistory